<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <sitecore>
    <settings>
      <!--  
          Turn the following setting on to use name as title
      -->
      <setting name="SharedSource.Poi.UseTitle" value="true"/>
      <!--  
          Turn the following setting on to show name if title is empty
      -->
      <setting name="SharedSource.Poi.ShowTitleFallback" value="false"/>
    </settings>
  </sitecore>
</configuration>
